html,
body {
	height: 100%;
	font-family: 'Europe', sans-serif;
	font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}

.container{
	max-width: ($containerWidth + $containerPadding) + px;
	width: 100%;
	margin: 0 auto;
	padding: 0 $containerSidePadding + px;

	@media (max-width: $breakpoint992) {
		max-width: 978px;
	}

	@media (max-width: $breakpoint768) {
		max-width: 750px;
	}

	@media (max-width: $breakpoint488) {
		max-width: none;
	}
}

.btn {
	background-color: $redColor;
	color: $whiteColor;
	padding: 14px 32px;
	border-radius: 6px;
	font-size: 16px;
	line-height: 150%;
	font-weight: 700;
	display: inline-block;
	transition: all .4s ease-in;
	&:hover {
		background-color: $btnHoverColor;
	}

	@media (max-width: $breakpoint992) {
		padding: 12px 26px;
	}
}





