.section__life {
    padding: 60px 0;
    background: linear-gradient(270.76deg, #E3E7F6 -55.5%, rgba(227, 231, 246, 0) 145.36%);
}

.life {
    &__items {
        display: grid;
        grid-template-columns: repeat(2, 3fr);
        column-gap: 35px;

        @media (max-width: $breakpoint768) {
            column-gap: 15px;
        }

        @media (max-width: $breakpoint488) {
            grid-template-columns: 1fr;
            row-gap: 20px;
        }
    }

    &__textbox {
        padding: 94px 161px 72px 0;

        @media (max-width: $breakpoint992) {
            padding: 0;
            padding-bottom: 50px;
        }

        @media (max-width: $breakpoint768) {
            padding-bottom: 20px;
        }

        @media (max-width: $breakpoint488) {
           text-align: center;
           padding-bottom: 0;
        }
    }

    &__title {
        margin-bottom: 16px;
    }

    &__item {
        &:first-child {
            @media (max-width: $breakpoint992) {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
        
        &:last-child {
            display: flex;
            img {
                margin-top: auto;
            }
        }

        &:nth-child(2) {
            margin-bottom: 50px;

            @media (max-width: $breakpoint768) {
                margin-bottom: 20px;
            }

            @media (max-width: $breakpoint768) {
                display: flex;
            }

            @media (max-width: $breakpoint488) {
                margin-bottom: 0;
            }
        }
    }

    &__img {
        border-radius: 8px;
    }
}